html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: creattion;
    src: url(creattion-demo/Creattion\ Demo.otf);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

nav h1 {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

nav .nav-links a {
    margin-right: 10px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 2.5px 0;
}

nav .nav-links a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: grey;
    width: 0%;
    height: 2.5px;
    transition: width 250ms ease;
}

nav .nav-links a:hover::after {
    width: 100%;
}

nav .nav-links span {
    font-size: 10px;
    margin-left: -5px;
    margin-right: 5px;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    width: 425px;
    height: 125px;
}

.body h3 {
    font-family: 'Courier New', Courier, monospace;
}

.body h3 span {
    font-family: 'Courier New', Courier, monospace;
}

input[type=button] {
    height: 25px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

input[type=button]:hover {
    box-shadow: 0 0 3px black;
}

.trademark {
    font-family: creattion;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 50px;
    color: black;
    transition: width 10s linear;
    width: 0%;
}

.trademark:hover {
    background: -webkit-linear-gradient(180deg, red 0%, green 50%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.hover {
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    top: 70px;
    left: 50px;
    color: black;
}

.hover span {
    font-family: creattion;
}